.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.width-500 {
    width: 500px;
}


.ant-select-tree-dropdown {
    max-height: 400px !important;
}

.ant-message-notice-content {
    display: block;
    padding: 10px 16px;
    background: #b92121;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    pointer-events: all;
    resize: both;
    height: 200px;
    width: 400px;
    overflow: auto;
}
